@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

.container4 {
    width: 1440px;
    height: 780px;
    background-color: #9DC9C8;
}

.h42 {
    font-size: 55px;
    font-weight: bold;
    width: 908px;
    height: 66px;
    padding: 0px;
    margin: 0px;
}

.p41 {
    font-size: 25px;
    width: 170px;
    height: 32px;
    padding: 0px;
    margin: 0px;
    padding-top: 54px;
}

.p42 {
    width: 481px;
    height: 93px;
    font-size: 80px;
    padding: 0px;
    margin: 0px;
    /* padding-top: 7px; */
    padding-bottom: 62px;
}

.p43 {
    font-size: 25px;
    width: 294px;
    height: 32px;
    /* margin-left: 70px; */
    padding: 0px;
    margin: 0px;
    padding-bottom: 9px;
}

.p44 {
    font-size: 18px;
    width: 294px;
    height: 57px;
    line-height: 101.4%;
    padding: 0px;
    margin: 0px;
}

.main4 {
    padding-left: 122px;
    padding-top: 179px;
}

.text4 {
    display: flex;
    column-gap: 70px;
    padding-bottom: 196px;

}

.footer44 {
    max-width: 1440px;
    height: 390px;
    background-color: black;
    padding-left: 122px;
    color: white;
}

.img4 {
    padding-top: 50px;
    width: 115px;
    height: 68px;
    padding-bottom: 30px;
}

.footer4 {
    display: flex;
}

.logo41 {
    width: 33px;
    height: 33px;
    margin-right: 18px;
}

.logo42 {
    width: 32px;
    height: 32px;
    margin-right: 21px;
}

.logo43 {
    width: 35px;
    height: 35px;
    margin-right: 25px;
}

.logo44 {
    width: 34px;
    height: 34px;
}

.footer4 p {
    padding: 0px;
    margin: 0px;
}

.logos4 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 130px;
}

.connection4 {
    font-size: 25px;
}

.phone4 {
    width: 27px;
    height: 27px;
    margin-right: 22px;
    margin-left: 686px;
    margin-bottom: 25px;
}

.mail4 {
    width: 27px;
    height: 18px;
    margin-right: 22px;
    margin-left: 686px;
}

.con4 {
    display: flex;
    padding-top: 54px;

}

.info4 {
    display: flex;
    align-items: center;
}

.call4 {
    width: 230px;
    height: 29px;
    padding-bottom: 14px;
}

.email4 {
    width: 269px;
    height: 29px;
}